<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Moody</title>
    <link rel="stylesheet" href="/public/css/styles.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Lobster&display=swap" rel="stylesheet">
</head>
<body>
    <section id="part1">
        <h1>Hello, how are you feeling today?</h1>
        <div id="button-container">
        <button>Happy</button>
        <button>Sad</button>
        <button>Excited</button>
        <button>Annoyed</button>
        <button>Calm</button>
        <button>Angry</button>
        </div>
    </section>
    <script src="/public/js/index.js"></script>
</body>
</html>
