<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>moody</title>
    <link rel="stylesheet" href="/public/css/styles.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Lobster&display=swap" rel="stylesheet">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Inconsolata:wght@200..900&display=swap" rel="stylesheet">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
<link rel="icon" type="image/jpg" href="/moody.jpg"/>
</head>
<body>
    <section id="part1">
        <h1>Hello, how are you feeling today?</h1>
        <div id="button-container">
        <button class="btn">Happy</button>
        <button class="btn">Sad</button>
        <button class="btn">Excited</button>
        <button class="btn">Annoyed</button>
        <button class="btn">Calm</button>
        <button class="btn">Angry</button>
        </div>
    </section>
    <section hidden="true" id="part2">
       <div id="inline"><h1>You're</h1><h1 id="p2"></h1><h1>Today</h1></div> 
       <div id="inline"><h3 class="h1-like">Write about it!</h3></div> 
       <div id="inline"><h4></h4></div>
       <div id="input-holder"><textarea placeholder="Why do you feel this way?"></textarea>></div> 
    </section>
    <script src="/public/js/index.js"></script>
</body>
</html>
