<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Account Creation</title>
</head>
<body>
    <div id="full-page">
        <h1>Login</h1>
        <form id="form">
            <h2>Username</h2>
            <input type="text" id="username" name="Username" required>
            <h2>Password</h2>
            <input type="text" id="password" name="Password" required>
            <div></div>
            <input type="submit" id="submit">
        </form>
    </div>
</body>
</html>