h1{
    text-align: center;
    font-family: "Lobster", sans-serif;
    color: rgb(246, 186, 229);
    font-size: 100px;
}
button{
    flex: 1; /* Make buttons take equal width */
    padding: 10px;
    border: none; /* Remove individual button borders */
    outline: none;
    background-color: rgb(246, 186, 229); /* Default background color */
    cursor: pointer;
    transition: box-shadow 0.3s, border-color 0.3s;
   
}
button:focus{
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
  border-color: #007BFF;
}
#button-container{
    display: flex;
    align-content: center;
    justify-content: center;
}
body{
    background-color: bisque;
}