h1{
    text-align: center
}
#full-page{
    background-color: bisque;
    border-style: solid;
    border-color: bisque;
    border-width: 20px;
    border-radius: 15px;
    font-family: "Funnel Sans", sans-serif;
    height: 25rem;
    width: 25rem;
    align-self: baseline;
    margin: auto;
    padding-top: 10px;
}
#form{
    text-align: center;
    margin-top: 50px;
    input {
        padding: 10px;
        border-radius: 5px;
        border: 1px solid #ddd;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
        outline: none;
        transition: box-shadow 0.3s, border-color 0.3s;
      }
      
      input:focus {
        box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
        border-color: #007BFF;
      }
}


#submit{
    margin-top: 10%;
}